@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.annotation {
  color: #333333;
  text-align: center;
  padding: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  min-width: 140px;
  min-height: 36px;
}

/*HEADER*/
.header-navigation {
  font-weight: 700;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 465px;
}

.header-navigation-user {
  max-width: 350px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: flex-end;
  align-items: center;
}

.header-logo-link {
  width: 140px;
  margin: 0 70px -16px 30px;
  position: relative;
}

.header-navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.header-navigation-user .header-navigation-link {
  min-width: 44px;
  max-width: 70px;
  min-height: 64px;
  padding: 22px 12px;
  box-sizing: border-box;
}

.button-header {
  background-color: #756157;
  width: 160px;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  border: 0;
}

/*MAIN*/
.main-index {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

/*HERO*/
.hero {
  color: #ffffff;
  background: url("../images/index/background-hero-divider.svg") bottom/100% auto no-repeat,
    #3F5E72 url("../images/index/hero-background.jpg") top/100% auto no-repeat;
  display: block;
  text-align: center;
  padding: 51px 371px 77px 371px;
  /*82px поменяла на 77px для PP*/
}

/*ADVANTAGES*/
.advantages-title-annotation {
  margin: 0 0 18px;
  padding: 69px 0;
}

.advantages-title {
  width: 627px;
  margin: 0 290px 25px 290px;
}

.advantages-title-annotation p {
  width: 655px;
  margin: 0 275px;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  color: #ffffff;
  background-color: #82B3D3;
  width: 1200px;
  min-height: 385px;
}

.advantages-big-item {
  display: flex;
  flex-wrap: nowrap;
}

.advantages-image {
  height: 100%;
}

.big-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 102px 85px;
}

.advantages-item-square,
.advantages-item-tourists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantages-item-road {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 62px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-description-dark {
  color: #333333;
}

/*SERVICES*/
.service-title-annotation {
  margin: 0;
  padding: 64px 0;
}

.service-title {
  width: 505px;
  margin: 0 375px 20px 375px;
}

.service-title-annotation p {
  width: 490px;
  margin: 0 382px;
}

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}

.service-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-image {
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
}

.service-subtitle {
  margin: 0 0 30px;
  padding: 0;
}

.service-item-food {
  background-color: #ffffff;
}

.service-description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

/*HOTEL-SEARCH*/
.hotel-search {
  padding: 96px 304px;
}

.hotel-search-container {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.hotel-search-title {
  margin: 0 148px 20px 148px;
}

.hotel-search-container p {
  margin: 0 0 56px;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  min-height: 52px;
  background-color: #756157;
  margin: 0 108px;
}

/*SUBSCRIBE*/
.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-main {
  width: 684px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-main-title {
  width: 406px;
  margin: 0 140px 20px;
}

.subscribe-main p {
  margin: 0 105px 54px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  min-height: 52px;
}

.subscribe-background {
  color: #ffffff;
  background: #3F5E72 url("../images/index/subscribe-background.jpg") center/cover no-repeat;
}

.subscribe-background-annotation {
  color: #ffffff;
}

/*FOOTER*/
.page-footer {
  padding: 40px 70px 30px;
}

.page-footer-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-social {
  width: 180px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto 5px 0;
  padding: 0;
  margin-right: auto;
  list-style-type: none;
}

.footer-social-item {
  min-width: 48px;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-contacts {
  width: 720px;
  min-height: 50px;
}

.contacts-phone {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 5px 194px 5px 198px;
  width: 333px;
  height: 40px;
}

.footer-logo {
  width: 120px;
  margin-left: auto;
}

.footer-logo-link {
  display: block;
  padding: 9px 0 9px 4px;
}

/*CATALOG-PAGE*/
/*INNER_HEADER*/
.filter-wrapper {
  color: #ffffff;
  background: #3F5E72 url("../images/catalog/filter-background.jpg") center/cover no-repeat;
  width: 1060px;
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  margin-right: 10px;
}

/*FILTER*/
.catalog-filter {
  width: 1060px;
  display: flex;
  flex-direction: row;
}

.catalog-filter-left {
  margin-right: auto;
  display: flex;
}

.catalog-filter-right {
  width: 550px;
  margin-left: auto;
  display: flex;
}

.catalog-filter-price-group {
  display: grid;
  grid-template-columns: 144px 144px 261px;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  border: none;
}

.catalog-filter-title-price {
  grid-column: 1/2;
  grid-row: 2/3;
}

input[name="price-min"] {
  grid-column: 1/2;
  grid-row: 2/3;
}

input[name="price-max"] {
  grid-column: 2/3;
  grid-row: 2/3;
}

input[name="price-range"] {
  grid-column: 1/3;
  grid-row: 3/4;
}

.catalog-filter-price-group .button {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
}

.catalog-filter-price-group .button-reset {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: end;
}


.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.button-reset {
  background-color: transparent;
  border-color: transparent;
}

/*Filter-results*/
.filter-results {
  width: 1060px;
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.filter-results-head {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  align-items: center;
}

.type-button-results-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.type-button-results-item {
  width: 48px;
  height: 48px;
}

.type-button-results-item:not(:last-child) {
  margin-right: 8px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #E5E5E5;
  width: 292px;
}

/*CATALOG*/
.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.catalog-item {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.catalog-link {
  text-decoration: none;
}

.catalog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.p-apartment {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-apartment-detail {
  background-color: #756157;
  display: block;
}

.button-apartment-rating {
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
}

.button-apartment-selected {
  background-color: #7DB54F;
}

/*PAGINATION*/
.pagination-frame {
  width: 1060px;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  background-color: #82B3D3;
  text-align: center;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 14px 12px;
}

.pagination-current,
.pagination-next-link {
  color: #000000;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-item-next {
  background-color: transparent;
}
